<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Aggiungi nuovo calciatore</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container px-5">
			<a class="navbar-brand" href="/">Serie A management</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<h1 class="main-title">Aggiungi un nuovo calciatore</h1>

	<form class="form-aggiungi" th:action="@{'/admin/aggiungiGiocatore'}" method="post" th:object="${giocatore}" }>
		<div class="form-aggiungi-campo">
			<label for="nome">Nome:</label>
			<input type="text" th:field="${giocatore.nome}" required>
			<span th:if="${#fields.hasErrors('nome')}" th:errors="${giocatore.nome}" th:style="'color:red'"></span>
		</div>
		<div class="form-aggiungi-campo">
			<label for="cognome">Cognome:</label>
			<input type="text" th:field="${giocatore.cognome}" required>
			<span th:if="${#fields.hasErrors('cognome')}" th:errors="${giocatore.cognome}"
				th:style="'color:red'"></span>
		</div>
		<div class="form-aggiungi-campo">
			<label for="nazionalita">Nazionalità</label>
			<input type="text" th:field="${giocatore.nazionalita}" required>
			<span th:if="${#fields.hasErrors('nazionalita')}" th:errors="${giocatore.nazionalita}"
				th:style="'color:red'"></span>

		</div>
		<div class="form-aggiungi-campo">
			<label for="data_di_nascita">Data di nascita:</label>
			<input type="date" th:field="${giocatore.dataDiNascita}" required>
			<span th:if="${#fields.hasErrors('dataDiNascita')}" th:errors="${giocatore.dataDiNascita}"
				th:style="'color:red'"></span>
		</div>
		<div class="form-aggiungi-campo">
			<label for="ruolo">Ruolo:</label>
			<select th:field="${giocatore.ruolo}" required>
				<option value="portiere">Portiere</option>
				<option value="difensore">Difensore</option>
				<option value="centrocampista">Centrocampista</option>
				<option value="attaccante">Attaccante</option>
			</select>
			<span th:if="${#fields.hasErrors('ruolo')}" th:errors="${giocatore.ruolo}" th:style="'color:red'"></span>
		</div>
		<div class="form-aggiungi-button">
			<button type="submit">Aggiungi nuovo giocatore</button>
		</div>
	</form>
	<!-- Footer-->
	<footer class="py-5 bg-dark">
		<div class="container px-4 px-lg-5">
			<p class="m-0 text-center text-white">Copyright &copy; MM Website 2024</p>
		</div>
	</footer>

</body>

</html>