<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Aggiungi squadra</title>
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container px-5">
			<a class="navbar-brand" href="/">Serie A management</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<h1 class="main-title">Aggiungi nuova squadra</h1>

	<form class="form-aggiungi" th:action="@{'/admin/aggiungiSquadra'}" method="post" th:object="${squadra}" }>
		<div class="form-aggiungi-campo">
			<label for="nome">Nome Squadra:</label>
			<input type="text" th:field="${squadra.nome}" required>
			<span th:if="${#fields.hasErrors('nome')}" th:errors="${squadra.duplicate}" th:style="'color:red'"></span>

		</div>
		<div class="form-aggiungi-campo">
			<label for="anno_fondazione">Anno Fondazione:</label>
			<input type="number" th:field="${squadra.annoFondazione}" required>
			<span th:if="${#fields.hasErrors('annoFondazione')}" th:errors="${squadra.annoFondazione}"
				th:style="'color:red'"></span>
		</div>
		<div class="form-aggiungi-campo">
			<label for="indirizzo_sede">Indirizzo Sede:</label>
			<input type="text" th:field="${squadra.indirizzoSede}" required>
			<span th:if="${#fields.hasErrors('indirizzoSede')}" th:errors="${squadra.indirizzoSede}"
				th:style="'color:red'"></span>
		</div>
		<div class="form-aggiungi-button">
			<button type="submit">Aggiungi Squadra</button>
		</div>
	</form>
	<!-- Footer-->
	<footer class="py-5 bg-dark">
		<div class="container px-4 px-lg-5">
			<p class="m-0 text-center text-white">Copyright &copy; MM Website 2024</p>
		</div>
	</footer>

</body>

</html>