<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Elenco Giocatori - Campionato</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container px-5">
			<a class="navbar-brand" href="/">Serie A management</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<h1 class="main-title">Giocatori della serie A</h1>

	<div th:if="${giocatori.isEmpty()}">Non ci sono giocatori caricati nel sistema</div>

	<table class="griglia-giocatori">
		<tr class="table-header">
			<th>Giocatore</th>
			<th>Squadra</th>
			<th>Ruolo</th>
			<th>Data di nascita</th>
			<th>Nazionalità</th>
		</tr>
		<div th:each="giocatore : ${giocatori}">

			<tr class="giocatore">
				<th>
					<a th:href="'/admin/giocatore/' + ${giocatore.id}"
						th:text="${giocatore.nome} + ' ' + ${giocatore.cognome}">Francesco Totti</a>
				</th>
				<th th:if="${giocatore.squadra}" th:text="${giocatore.squadra.nome}">Roma</th>
				<th th:unless="${giocatore.squadra}" th:text="'Nessuna squadra assegnata'"></th>
				<th th:text="${giocatore.ruolo}">Attaccante</th>
				<th th:text="${giocatore.dataDiNascita}">01-02-1990</th>
				<th th:text="${giocatore.nazionalita}">Italiana</th>
			</tr>
		</div>
	</table>
</body>

</html>