<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Admin page</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
	<!-- Responsive navbar-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container px-5">
			<a class="navbar-brand" href="/">Serie A management</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Page Content-->
	<div class="container px-4 px-lg-5">
		<h1 class="main-title" th:text="'Benvenuto ' + ${utente.nome} + ' ' + ${utente.cognome}">
			Benvenuto admin!
		</h1>
		<!-- Content Row-->
		<div class="row gx-4 gx-lg-5">
			<div class="col-md-4 mb-5">
				<div class="card h-100">
					<div class="card-body">
						<h2 class="card-title"> Aggiungi squadra </h2>
						<p class="card-text">Una nuova squadra deve tesserarsi per questa stagione? Accedi a quest'area
							per aggiungere le informazioni della squadra e dalle il benvenuto!</p>
					</div>
					<div class="card-footer"><a class="btn btn-primary btn-sm"
							href="/admin/formAggiungiSquadra">Aggiungi</a></div>
				</div>
			</div>
			<div class="col-md-4 mb-5">
				<div class="card h-100">
					<div class="card-body">
						<h2 class="card-title"> Modifica squadra </h2>
						<p class="card-text">Una squadra ha cambiato sede oppure ha cambiato gestione societaria?
							Aggiorna qui i dati!</p>
					</div>
					<div class="card-footer"><a class="btn btn-primary btn-sm"
							href="/admin/squadraDaModifare">Modifica</a></div>
				</div>
			</div>
			<div class="col-md-4 mb-5">
				<div class="card h-100">
					<div class="card-body">
						<h2 class="card-title">Aggiungi presidente</h2>
						<p class="card-text">Un nuovo presidente è entrato a far parte della prima lega calcistica
							italiana? Aggiungi i suoi dati nel sistema tramite una form!</p>
					</div>
					<div class="card-footer"><a class="btn btn-primary btn-sm"
							href="/admin/formAggiungiPresidente">Aggiungi</a></div>
				</div>
			</div>
		</div>
		<div class="row gx-4 gx-lg-5">
			<div class="col-md-4 mb-5">
				<div class="card h-100">
					<div class="card-body">
						<h2 class="card-title"> Aggiungi Giocatore </h2>
						<p class="card-text"> Inserisci tutte le informazioni del nuovo giocatore che approderà nella
							nostra lega tramite la form dedicata per aggiungerlo alla base dati. </p>
					</div>
					<div class="card-footer"><a class="btn btn-primary btn-sm"
							href="/admin/formAggiungiGiocatore">Aggiungi</a></div>
				</div>
			</div>
			<div class="col-md-4 mb-5">
				<div class="card h-100">
					<div class="card-body">
						<h2 class="card-title"> Mostra tutti i giocatori </h2>
						<p class="card-text">Esplora la rosa completa dei nostri giocatori, da talenti emergenti a
							stelle consolidate. Naviga attraverso la pagina per conoscere il ruolo, nazionalità e altri
							dettagli di ciascun atleta alla nostra squadra.</p>
					</div>
					<div class="card-footer"><a class="btn btn-primary btn-sm"
							href="/admin/mostraTuttiGiocatori">Visualizza</a></div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<!-- Footer-->
	<footer class="py-5 bg-dark">
		<div class="container px-4 px-lg-5">
			<p class="m-0 text-center text-white">Copyright &copy; MM Website 2024</p>
		</div>
	</footer>
</body>

</html>