<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Giocatore</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container px-5">
			<a class="navbar-brand" href="/">Serie A management</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<h1 class="main-title">Visualizza dettagli giocatore</h1>

	<div th:if="${giocatore}">

		<h2 style="text-align: center;" center th:text="${giocatore.nome} + ' ' + ${giocatore.cognome}">Mario Rossi</h2>
		<div class="giocatore-info">
			<div class="giocatore-info-column">
				<h3>
					Squadra
				</h3>
				<p th:if="${giocatore.squadra}"> <a th:text="${giocatore.squadra.nome}"
						th:href="@{'/squadre' + '/' + ${giocatore.squadra.id}}"> Roma </a></p>
				<p th:unless="${giocatore.squadra}" th:text="'Squadra ancora non assegnata'"></p>
			</div>
			<div class="giocatore-info-column">
				<h3>
					Ruolo
				</h3>
				<p th:if="${giocatore.ruolo}" th:text="${giocatore.ruolo}"> centrocampista</p>
			</div>
			<div class="giocatore-info-column">
				<h3>
					Nazionalità
				</h3>
				<p th:text="${giocatore.nazionalita}">Italiana </p>
			</div>
			<div class="giocatore-info-column">
				<h3>
					Nato il
				</h3>
				<p th:text="${giocatore.dataDiNascita}">01/04/1990)</p>
			</div>

		</div>
	</div>
	<div th:unless="${giocatore}">Non esiste</div>
	<!-- Footer-->
	<footer class="py-5 bg-dark">
		<div class="container px-4 px-lg-5">
			<p class="m-0 text-center text-white">Copyright &copy; MM Website 2024</p>
		</div>
	</footer>

</body>

</html>