<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Presidente page</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
	<!-- Responsive navbar-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container px-5">
			<a class="navbar-brand" href="/">Serie A management</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Page Content-->
	<div class="container px-4 px-lg-5">
		<h1 class="main-title" th:text="'Benvenuto ' + ${utente.nome} + ' ' + ${utente.cognome}">
			Benvenuto Mario Rossi
		</h1>
		<!-- Content Row-->
		<div class="row gx-4 gx-lg-5">
			<div class="col-md-4 mb-5">
				<div class="card h-100">
					<div class="card-body">
						<h2 class="card-title"> Aggiungi nuovo giocatore </h2>
						<p class="card-text"> Ha fatto un nuovo acquisto importante nella sua squadra e deve tesserare
							un nuovo giocatore che ancora non è presente nel sistema? Compili il form con i dati del
							nuovo giocatore! </p>
					</div>
					<div class="card-footer"><a class="btn btn-primary btn-sm"
							href="/presidente/formAggiungiGiocatore">Aggiungi</a></div>
				</div>
			</div>
			<div class="col-md-4 mb-5">
				<div class="card h-100">
					<div class="card-body">
						<h2 class="card-title"> Modifica squadra giocatore </h2>
						<p class="card-text">C'è un giocatore già della nostra federazione che si trasferirà alla sua
							squadra? Selezioni dalla seguente lista il suo nuovo acquisto! </p>
					</div>
					<div class="card-footer"><a class="btn btn-primary btn-sm"
							href="/presidente/scegliGiocatore">Aggiungi</a></div>
				</div>
			</div>

		</div>
	</div>
	</div>
	<!-- Footer-->
	<footer class="py-5 bg-dark">
		<div class="container px-4 px-lg-5">
			<p class="m-0 text-center text-white">Copyright &copy; MM Website 2024</p>
		</div>
	</footer>
</body>

</html>