<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Registra nuovo utente</title>
	<!-- Favicon-->
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container px-5">
			<a class="navbar-brand" href="#!">Serie A magement</a>
		</div>
	</nav>

	<h1 class="main-title">Registrazione nuovo utente</h1>
	
	<form th:action="@{/registrati}" method="POST">
		<div>
			<label>Username</label>
			<span>
				<input type="text" placeholder="username" required th:field="${credenziali.username}" />
			</span>
			<span th:if="${#fields.hasErrors('credenziali.username')}" th:errors="${credenziali.username}"
				th:style="'color:red'">
			</span>
		</div>
		<div>
			<label>Password</label>
			<span><input type="password" placeholder="password" required th:field="${credenziali.password}" />
			</span>
			<span th:if="${#fields.hasErrors('credenziali.password')}" th:errors="${credenziali.password}"
				th:style="'color:red'">
			</span>
		</div>
		<div>
			<label>Nome</label>
			<span><input type="text" placeholder="nome" required th:field="${utente.nome}" /></span>
			<span th:if="${#fields.hasErrors('utente.nome')}" th:errors="${utente.nome}" th:style="'color:red'">
			</span>
		</div>
		<div>
			<label>Cognome</label>
			<span><input type="text" placeholder="cognome" required th:field="${utente.cognome}" /></span>
			<span th:if="${#fields.hasErrors('utente.cognome')}" th:errors="${utente.cognome}" th:style="'color:red'">
			</span>
		</div>
		<div>
			<label>Email</label>
			<span><input type="text" placeholder="email" required th:field="${utente.email}" /></span>
			<span th:if="${#fields.hasErrors('utente.email')}" th:errors="${utente.email}" th:style="'color:red'">
			</span>
		</div>
		<div>
			<button type="submit">Registra</button>
		</div>
	</form>


</body>

</html>