<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Elenco Squadre - Campionato</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="#!">Serie A magement</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#!">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 class="main-title">Elenco Squadre - Campionato</h1>

    <div th:if="${squadra}">

        <h2 th:text="${squadra.nome}">Napoli</h2>
        <a th:text="'Presidente: ' + ${squadra.presidente.nome} + ' ' +${squadra.presidente.cognome}" th:href="@{'/presidenti' + '/' + ${squadra.presidente.id}}" class="presidente">Presidente: Aurelio De Laurentiis</a>
        <p th:text="'Anno Fondazione: ' + ${squadra.annoFondazione}" class="anno-fondazione">Anno Fondazione: 1926</p>
        <img th:src="@{'/logos/' + ${squadra.nome} +'.png'}" class="immagine-squadra"/>
        <a th:href="@{'/squadre' + '/' + ${squadra.id}}"> Elenco calciatori </a>
        <!-- Aggiungi ulteriori dettagli della squadra a tuo piacimento -->
    </div>
    <div th:unless="${squadra}">Non esiste</div>

    <!-- Puoi usare Thymeleaf per ciclare attraverso le squadre qui -->

</body>
</html>
